release/Qora-EPOS-1.0.0.AppImage filter=lfs diff=lfs merge=lfs -text
release/__appImage-x64/qora-epos-desktop filter=lfs diff=lfs merge=lfs -text
release/linux-unpacked/qora-epos-desktop filter=lfs diff=lfs merge=lfs -text
