modules = ["nodejs-20", "web", "postgresql-16", "python-3.11"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BBLxJVCvc_-q7PlkiZfw9JZjxLo6Wk5NQQucQmCpXyGFfW-_bqNsTi-bfnBAIhQ6V7zQQZs30XhdP0Y7LGSbmXY"
VAPID_PRIVATE_KEY = "cwPY6HhNdLVGJ5hqUBXm6nwDFSI0dZNXpdATCSJlLtg"
VAPID_SUBJECT = "mailto:admin@kerriganxl.ie"
